/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Background */
body {
  background: linear-gradient(135deg, #667eea, #764ba2);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.container {
  width: 360px;
  background: white;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
  text-align: center;
}

/* Title */
h2 {
  margin-bottom: 15px;
  color: #333;
}

/* Input box */
.input-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

/* Input */
input[type="text"] {
  flex: 1;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
}

/* Button */
button {
  padding: 12px 15px;
  border: none;
  background: #667eea;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #5a67d8;
  transform: scale(1.05);
}

/* List */
ul {
  list-style: none;
}

/* Task Item */
li {
  background: #f5f5f5;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 12px;

  display: flex;
  align-items: center;
  gap: 10px;
}

/* Task Text */
li span {
  flex: 1;
  text-align: left;
}

/* Completed Task */
.completed {
  text-decoration: line-through;
  color: gray;
}

/* Checkbox */
input[type="checkbox"] {
  transform: scale(1.2);
  cursor: pointer;
}

/* Delete Button */
li button {
  background: red;
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 6px;
}

li button:hover {
  background: darkred;
}

/* Hover effect */
li:hover {
  transform: scale(1.02);
  transition: 0.2s;
}